<% breadcrumb :user %>

<div class='ui main text container'>
  <h1 class="ui header"><%= @user.name %></h1>
  <div class="ui divider"></div>

  <h2 class='ui sub header'>
    <%= "リスト" %>
  </h2>
  <%= render 'shared/lists_menu_horizontal', { user: @user, favorite_class: 'item', want_class: 'item', playing_class: 'item', played_class: 'item' } %>

  <% if user_signed_in? && current_user == @user %>
    <h2 class='ui sub header'>
      <%= "おすすめのゲーム" %>
    </h2>

    <%= render 'shared/game_list_simple', { games: @recommend_games } %>

  <% end %>
  
</div>