<%= form_with model: form, url: path, method: method, local: true, class: "ui form error" do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="field">
      <%= f.label :title, 'Title:' %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :image, 'Game cover:' %>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :description, 'Description:' %>
      <%= f.text_area :description, rows: 10 %>
    </div>
    <div class='ui three fields'>
      <div class="field">
        <%= f.label :metascore, 'Metascore:' %>
        <%= f.text_field :metascore %>
      </div>
      <div class="field">
        <%= f.label :platform_name, 'Platform:' %>
        <%= f.text_field :platform_name %>
      </div>
      <div class="field">
        <%= f.label :release_date, 'Release Date:' %>
        <%= f.date_field :release_date, min: '1970-01-01', max: Date.today.next_year(4) %>
      </div>
    </div>
    <div class="field">
      <%= f.label :tag_names, 'Tags:' %>
      <%= f.text_field :tag_names %>
    </div>
    <%= f.submit submit_text, class: "ui right floated button" %>
  <% end %>