<div class="ui items">
  <% games.each_with_index do |game, i| %>
    <% if i != 0 %>
      <div class="ui divider"></div>
    <% end %>
    
    <div class="item">
      <span class="ui tiny image">
        <% if game.image.attached? %>
          <%= link_to image_tag(game.image), game_path(game) %>
        <% elsif game.steam_image.present? %>
          <%= link_to image_tag(game.steam_image), game_path(game) %>
        <% else %>
          <%= link_to image_tag('noimage.png'), game_path(game) %>
        <% end %>
      </span>
      <div class="content">
        <%= link_to game_path(game) do %>
          <div>
            <span class="ui header">
              <%= game.title %>
              <small><%= "(#{game.platform.name})" if game.platform.present? %></small>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>