<div class="ui inverted borderless attached menu">
  <div class="ui container">
    <a class="header item" href="/">My Game DB</a>
    <div class="right menu">
      <% if user_signed_in? %>
        <div class="item">
          <i class="plus circle icon"></i>
          <%= link_to 'ゲームを追加', new_game_path %>
        </div>
        <div class="ui dropdown item">
          <div class="header">
            <i class="list alternate outline icon"></i>
            <span>マイリスト</span>
            <i class="caret down icon"></i>
          </div>
          <div class="menu">
            <%= link_to want_to_play_user_path(current_user), class: 'item' do %>
              <small>プレイ予定</small>
            <% end %>
            <%= link_to playing_user_path(current_user), class: 'item' do %>
              <small>プレイ中</small>
            <% end %>
            <%= link_to played_user_path(current_user), class: 'item' do %>
              <small>プレイ済み</small>
            <% end %>
          </div>
        </div>

        <div class="ui dropdown item">
          <div class="header">
            <span><%= current_user.name %></span>
            <i class="caret down icon"></i>
          </div>
          <div class="menu">
            <%= link_to user_path(current_user), class: 'item' do %>
              <small>マイページ</small>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'item' do %>
              <small>ログアウト</small>
            <% end %>
          </div>
        </div>
        
      <% else %>
        <%= link_to '新規登録', new_user_registration_path, class: "ui item" %>
        <%= link_to 'ログイン', new_user_session_path, class: "ui item" %>
      <% end %>
     
    </div>
  </div>
</div>
