<div class="ui inverted attached menu">
  <div class="ui container">
    <a class="header item" href="/">My Game DB</a>

    <div class="item">
      <%= search_form_for @search, url: games_path, as: :header_search do |f| %>
        <div class="ui inverted transparent left icon input">
          <%= f.text_field :title_or_description_cont ,placeholder: '検索' %>
          <i class="search icon"></i>
        </div>
      <% end %>
    </div>
    
    <div class="ui dropdown item">
      <div class="header">
        <i class="database icon"></i>
        <span>データベース</span>
        <i class="caret down icon"></i>
      </div>
      <div class="menu">
        <%= link_to games_path, class: 'item' do %>
          <i class="search icon"></i>
          <span>詳細検索</span>
        <% end %>
        <%= link_to new_game_path, class: 'item' do %>
          <i class="plus circle icon"></i>
          <span>ゲームを追加</span>
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="ui dropdown item">
        <div class="header">
          <i class="list alternate outline icon"></i>
          <span>マイリスト</span>
          <i class="caret down icon"></i>
        </div>
        <div class="menu">
          <%= link_to favorite_user_path(current_user), class: 'item' do %>
            <i class="heart icon"></i>
            <span>お気に入り</span>
          <% end %>
          <%= link_to want_to_play_user_path(current_user), class: 'item' do %>
            <i class="clock icon"></i>
            <span>プレイ予定</span>
          <% end %>
          <%= link_to playing_user_path(current_user), class: 'item' do %>
            <i class="gamepad icon"></i>
            <span>プレイ中</span>
          <% end %>
          <%= link_to played_user_path(current_user), class: 'item' do %>
            <i class="circle check icon"></i>
            <span>プレイ済み</span>
          <% end %>
        </div>
      </div>

      <div class="right menu">
        <div class="ui dropdown item">
          <div class="header">
            <span><%= current_user.name %></span>
            <i class="caret down icon"></i>
          </div>
          <div class="menu">
            <%= link_to user_path(current_user), class: 'item' do %>
              <span>マイページ</span>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'item' do %>
              <span>ログアウト</span>
            <% end %>
          </div>
        </div>
      </div>

    <% else %>
      <div class="right menu">
        <%= link_to '新規登録', new_user_registration_path, class: "ui item" %>
        <%= link_to 'ログイン', new_user_session_path, class: "ui item" %>
      </div>
    <% end %>
     
    
  </div>
</div>
