<% if user_signed_in? %>
  <% if game.wanted_by?(current_user) %>
    <%= link_to game_lists_path(game), method: :delete, remote: true do %>
      <div class="ui blue icon mini button">
        <i class="clock icon"></i>
        <%= " プレイ予定 (#{game.want_users.count})" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to want_game_lists_path(game), method: :post, remote: true do %>
      <div class="ui icon mini button">
        <i class="clock icon"></i>
        <%= " プレイ予定 (#{game.want_users.count})" %>
      </div>
    <% end %>
  <% end %>

  <% if game.playing_by?(current_user) %>
    <%= link_to game_lists_path(game), method: :delete, remote: true do %>
      <div class="ui blue icon mini button">
        <i class="gamepad icon"></i>
        <%= " プレイ中 (#{game.playing_users.count})" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to playing_game_lists_path(game), method: :post, remote: true do %>
      <div class="ui icon mini button">
        <i class="gamepad icon"></i>
        <%= " プレイ中 (#{game.playing_users.count})" %>
      </div>
    <% end %>
  <% end %>

  <% if game.was_played_by?(current_user) %>
    <%= link_to game_lists_path(game), method: :delete, remote: true do %>
      <div class="ui blue icon mini button">
        <i class="check circle icon"></i>
        <%= " プレイ済み (#{game.played_users.count})" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to played_game_lists_path(game), method: :post, remote: true do %>
      <div class="ui icon mini button">
        <i class="check circle icon"></i>
        <%= " プレイ済み (#{game.played_users.count})" %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <%= link_to new_user_session_path do %>
    <div class="ui icon mini button">
      <i class="clock icon"></i>
      <%= " プレイ予定 (#{game.want_users.count})" %>
    </div>
  <% end %>
  <%= link_to new_user_session_path do %>
    <div class="ui icon mini button">
      <i class="gamepad icon"></i>
      <%= " プレイ中 (#{game.playing_users.count})" %>
    </div>
  <% end %>
  <%= link_to new_user_session_path do %>
    <div class="ui icon mini button">
      <i class="check circle icon"></i>
      <%= " プレイ済み (#{game.played_users.count})" %>
    </div>
  <% end %>
<% end %>