<%= render "shared/header" %>

<div class="ui main text container" style="padding-top: 100px">
  <h1 class="ui header">Index</h1>

  <div class="ui items">
    <% @games.each do |game| %>
      <div class="item">
        <div class="image">
          <%= image_tag "noimage.png" %>
        </div>
        <div class="content">
          <%= link_to game.title, '#', class: "header" %>
          <div class="meta">
            <span><%= "Metascore: #{game.metascore}" %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @games %>
</div>