<%= render "shared/header" %>

<div class="ui main text container">
  <h1 class="ui header">Index</h1>

  <div class="ui items">
    <% @games.each do |game| %>
      <div class="item">
        <div class="image">
          <% if game.image.attached? %>
            <%= image_tag game.image, class: "items_image" %>
          <% else %>
            <%= image_tag 'noimage.png' %>
          <% end %>
        </div>
        <div class="content">
          <%= link_to game.title, game_path(game), class: "header" %>
          <div class="meta">
            <span><%= "Metascore: #{game.metascore}" %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @games %>
</div>