<% breadcrumb :search %>

<div class="ui main container">
  <h1 class="ui header">詳細検索</h1>

  <div class="ui divider"></div>

  <div class="ui two column grid">
    <div class="four wide column">

      <%= search_form_for @q, class: "ui form" do |f| %>
        <div class="field">
          <%= f.label :title_or_description, 'タイトルまたは説明' %>
          <div class="ui input">
            <%= f.search_field :title_or_description_cont, placeholder: "検索" %>
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <%= f.label :metascore_gteq, 'メタスコアの下限' %>
            <%= f.text_field :metascore_gteq, placeholder:"1" %>
          </div>
          <div class="field">
            <%= f.label :metascore_lteq, 'メタスコアの上限' %>
            <%= f.text_field :metascore_lteq, placeholder:"100" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :platform_name_cont, '機種' %>
          <div class="ui input">
            <%= f.text_field :platform_name_cont, list: 'platform' %>
            <datalist id="platform">
              <%= options_for_select(@platform_names) %>
            </datalist>
          </div>
        </div>

        <div class="field">
          <%= f.label :release_date_during_year, '発売した年' %>
          <%= f.date_select :release_date_during_year, start_year: 1970, end_year: Date.today.next_year(4).year, discard_day: true, discard_month: true, prompt: 'All' %>
        </div>

        <div class="field">
          <%= f.label :genres_name_cont, 'ジャンル' %>
          <div class="ui input">
            <%= f.text_field :genres_name_cont, list: 'genre' %>
            <datalist id="genre">
              <%= options_for_select(@genre_names) %>
            </datalist>
          </div>
        </div>

        <div class="field">
          <%= f.label :tags_name_cont, 'タグ' %>
          <div class="ui input">
            <%= f.text_field :tags_name_cont, list: 'tag' %>
            <datalist id="tag">
              <%= options_for_select(@tag_names) %>
            </datalist>
          </div>
        </div>

        <div class="field">
          <%= f.label :companies_name_cont, '会社' %>
          <div class="ui input">
            <%= f.text_field :companies_name_cont, list: 'company' %>
            <datalist id="company">
              <%= options_for_select(@company_names) %>
            </datalist>
          </div>
        </div>

        <%= link_to "すべてクリア", request.path, class: 'ui secondary button' %>
        <%= f.submit '検索', class: 'ui primary button' %>
      <% end %>

    </div>
    <div class="twelve wide column">

      <%= render 'shared/game_list', { games: @games, q: @q, menu_title: '検索結果' } %>

    </div>

</div>