<%= render "shared/header" %>

<div class="ui main container">
  <h1 class="ui header">Search</h1>

  <div class="ui divider"></div>

  <div class="ui two column grid">
  <div class="four wide column">

  <%= search_form_for @q, class: "ui form" do |f| %>
    <div class="field">
      <%= f.label :title_or_description, 'Title or Description' %>
      <div class="ui input">
        <%= f.search_field :title_or_description_cont, placeholder: "Search" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :metascore_gteq, 'Minimum Metascore' %>
      <%= f.text_field :metascore_gteq, placeholder:"1" %>
    </div>

    <div class="field">
      <%= f.label :metascore_lteq, 'Maximum Metascore' %>
      <%= f.text_field :metascore_lteq, placeholder:"100" %>
    </div>

    <div class="field">
      <%= f.label :platform_name_eq, 'Platform' %>
      <div class="ui input">
        <%= f.collection_select :platform_name_eq, @platform_name, :name, :name, include_blank: 'All' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :release_date_during_year, 'Year' %>
      <%= f.date_select :release_date_during_year, start_year: Game.minimum(:release_date).year, end_year: Game.maximum(:release_date).year, discard_day: true, discard_month: true, prompt: 'All' %>
    </div>

    <div class="field">
      <%= f.label :genres, 'Genres' %>
      <div class="ui input">
        <%= f.collection_select :genres_name_eq, @genre_names, :name, :name, include_blank: 'All' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :tags, 'Tags' %>
      <div class="ui input">
        <%= f.collection_select :tags_name_eq, @tag_names, :name, :name, include_blank: 'All' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :developers, 'Developers' %>
      <div class="ui input">
        <%= f.collection_select :developer_companies_name_eq, @company_names, :name, :name, include_blank: 'All' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :publishers, 'Publishers' %>
      <div class="ui input">
        <%= f.collection_select :publisher_companies_name_eq, @company_names, :name, :name, include_blank: 'All' %>
      </div>
    </div>

    <%= f.submit "Clear", type: :reset, class: 'ui button' %>
    <%= f.submit 'Submit', class: 'ui button' %>
  <% end %>

  </div>
  <div class="twelve wide column">

  <div class="ui menu">
    <div class="borderless header item">
      Sorting
    </div>
    <div class="right menu">
      <div class="item">
        <%= sort_link(@q, :metascore, "Metascore") %>
      </div>
      <div class="ui item">
        <%= sort_link(@q, :title, "Title") %>
      </div>
      <div class="ui item">
        <%= sort_link(@q, :release_date, "Release Date") %>
      </div>
    </div>
  </div>

  <div class="ui items">
    <% @games.each do |game| %>
      <div class="item">
        <div class="image">
          <% if game.image.attached? %>
            <%= image_tag game.image %>
          <% else %>
            <%= image_tag 'noimage.png' %>
          <% end %>
        </div>
        <div class="content">
          <%= link_to game.title, game_path(game), class: "header" %>
          <span><%= "(#{game.platform.name})" if game.platform.present? %></span>
          <div class="meta">
            <p><%= game.release_date if game.release_date.present? %></p>
            <p><%= "Metascore: #{game.metascore}" if game.metascore.present? %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @games %>

</div>

</div>