<div class="ui container">
  <h1 class="ui header">New game</h1>

  <%= form_with model: @game, url: games_path, local: true ,class: "ui form error" do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="field">
      <%= f.label :title, 'Title:' %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description, 'Description:' %>
      <%= f.text_area :description, rows: 10 %>
    </div>
    <div class="field">
      <%= f.label :metascore, 'Metascore:' %>
      <%= f.text_field :metascore %>
    </div>
    <%= f.submit 'Create Game', class: "ui right floated button" %>
  <% end %>
</div>