<% breadcrumb :game %>

<div class='ui main text container'>
  <% if user_signed_in? %>
    <div class='ui right floated menu'>
      <%= link_to '編集', edit_game_path, class: 'item' %>
      <%= link_to '削除', game_path(@game), method: :delete, data: { confirm: '本当によろしいですか？' }, class:'item' %>
    </div>
  <% end %>

  <h1 class='banner-title'><%= @game.title %></h1>
  <h2 class='ui header'>
    <% if @game.release_date.present? %>
      <span><%= @game.release_date.to_s(:stamp) %></span>
    <% else %>
      <span>TBD</span>
    <% end %>
  </h2>
  
  <% if @game.image.attached? %>
    <%= image_tag @game.image, class: 'ui centered medium image'  %>
    <div class="ui center aligned basic segment">
      <%= link_to '画像を削除する', delete_image_attachment_game_path(@game), method: :delete, data: { confirm: '本当によろしいですか？' } %>
    </div>
  <% elsif @game.steam_image.present? %>
    <%= image_tag @game.steam_image, class: 'ui centered medium image' %>
  <% else %>
    <%= image_tag 'noimage.png', class: 'ui centered medium image' %>
  <% end %>

  <div class="ui center aligned basic segment">
    <% if user_signed_in? %>
      <% if @game.is_wanted_by?(current_user) %>
        <%= link_to game_play_lists_path(@game), method: :delete do %>
          <div class="ui red icon button">
            <i class="clock icon"></i>
            <%= " プレイ予定 (#{@game.want_users.count})" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to want_game_play_lists_path(@game), method: :post do %>
          <div class="ui icon button">
            <i class="clock icon"></i>
            <%= " プレイ予定 (#{@game.want_users.count})" %>
          </div>
        <% end %>
      <% end %>

      <% if @game.is_playing_by?(current_user) %>
        <%= link_to game_play_lists_path(@game), method: :delete do %>
          <div class="ui red icon button">
            <i class="gamepad icon"></i>
            <%= " プレイ中 (#{@game.playing_users.count})" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to playing_game_play_lists_path(@game), method: :post do %>
          <div class="ui icon button">
            <i class="gamepad icon"></i>
            <%= " プレイ中 (#{@game.playing_users.count})" %>
          </div>
        <% end %>
      <% end %>

      <% if @game.was_played_by?(current_user) %>
        <%= link_to game_play_lists_path(@game), method: :delete do %>
          <div class="ui red icon button">
            <i class="check circle icon"></i>
            <%= " プレイ済み (#{@game.played_users.count})" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to played_game_play_lists_path(@game), method: :post do %>
          <div class="ui icon button">
            <i class="check circle icon"></i>
            <%= " プレイ済み (#{@game.played_users.count})" %>
          </div>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to new_user_session_path do %>
        <div class="ui icon button">
          <i class="clock icon"></i>
          <%= " プレイ予定 (#{@game.want_users.count})" %>
        </div>
      <% end %>
      <%= link_to new_user_session_path do %>
        <div class="ui icon button">
          <i class="gamepad icon"></i>
          <%= " プレイ中 (#{@game.playing_users.count})" %>
        </div>
      <% end %>
      <%= link_to new_user_session_path do %>
        <div class="ui icon button">
          <i class="check circle icon"></i>
          <%= " プレイ済み (#{@game.played_users.count})" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <p><%= @game.description %></p>

  <% if @game.steam.present? %>
    <%= link_to(@game.steam, target: :_blank, rel: "noopener noreferrer nofollow", class: 'ui icon button') do %>
      <i class="steam icon"></i>
      Steam
    <% end %>
  <% end %>

  <h2 class='ui sub header'>
    機種
  </h2>
  <%= link_to @game.platform.name, platform_path(@game.platform) %>

  <% if @game.metascore.present? %>
    <h2 class='ui sub header'>
      メタスコア
    </h2>
    <span><%= @game.metascore %></span>
  <% end %>
  
  <% if @game.developers.present? %>
    <h2 class='ui sub header'>
      開発元
    </h2>
    <% @game.developers.each_with_index do |developer, i| %>
      <% if i != 0 %>
        <span>, </span>
      <% end %>
      <%= link_to developer.name, company_path(developer) %>
    <% end %>
  <% end %>

  <% if @game.publishers.present? %>
    <h2 class='ui sub header'>
      パブリッシャー
    </h2>
    <% @game.publishers.each_with_index do |publisher, i| %>
      <% if i != 0 %>
        <span>, </span>
      <% end %>
      <%= link_to publisher.name, company_path(publisher) %>
    <% end %>
  <% end %>

  <% if @game.genres.present? %>
    <h2 class='ui sub header'>
      ジャンル
    </h2>
    <% @game.genres.each_with_index do |genre, i| %>
      <% if i != 0 %>
        <span>, </span>
      <% end %>
      <%= link_to genre.name, genre_path(genre) %>
    <% end %>
  <% end %>

  <% if @game.tags.present? %>
    <h2 class='ui sub header'>
      タグ
    </h2>
    <% @tags.each_with_index do |tag, i| %>
      <% if i != 0 %>
        <span>, </span>
      <% end %>
      <%= link_to "#{tag.name}(#{tag.taggings.where(game_id: @game).count})", tag_path(tag) %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <div class="ui segment">
      <h3 class="ui header">
        <i class="tags icon"></i>
        <div class="content">
          自分のタグ
          <div class="sub header">クリックで削除</div>
        </div>
      </h3>
      <% current_user.taggings.where(game_id: @game).each do |tagging| %>
        <%= link_to tagging.tag.name, game_tagging_path(@game, tagging), method: :delete, class: 'ui tag label' %>
      <% end %>

      <%= form_with model: @your_tag, url: game_taggings_path(@game), local: true do |f| %>
        <h2 class='ui sub header'>
          <%= f.label :tag, '新しいタグを入力' %>
        </h2>
        <div class="ui left icon input">
          <i class="tags icon"></i>
          <%= f.text_field :tag, placeholder: 'タグを入力' %>
        </div>
        <%= f.submit '追加', class: "ui button" %>            
      <% end %>
    </div>
  <% end %>
</div>