<%= render 'shared/header' %>

<div class='ui main text container'>
  <% if user_signed_in? %>
    <div class='ui right floated secondary menu'>
      <div class='right menu'>
        <%= link_to 'Edit', edit_game_path, class: 'item' %>
        <%= link_to 'Delete Game', game_path(@game), method: :delete, data: { confirm: 'Are you sure?' }, class:'item' %>
      </div>
    </div>
  <% end %>

  <h1 class='banner-title'><%= @game.title %></h1>
  <h2 class='ui header'>
    <% if @game.release_date.present? %>
      <span><%= @game.release_date %></span>
    <% else %>
      <span>TBD</span>
    <% end %>
  </h2>
  
  <% if @game.image.attached? %>
    <%= image_tag @game.image, class: 'ui centered medium image'  %>
    <div class="ui center aligned basic segment">
      <%= link_to 'Delete Game Cover', delete_image_attachment_game_path(@game), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% elsif @game.steam_image.present? %>
    <%= image_tag @game.steam_image, class: 'ui centered medium image' %>
  <% else %>
    <%= image_tag 'noimage.png', class: 'ui centered medium image' %>
  <% end %>

  <div class="ui center aligned basic segment">
    <% if user_signed_in? %>
      <% if @game.is_wanted_by?(current_user) %>
        <%= link_to game_lists_path(@game), method: :delete do %>
          <div class="ui red icon button">
            <i class="clock icon"></i>
            <%= " WANT (#{@game.want_users.count})" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to want_game_lists_path(@game), method: :post do %>
          <div class="ui icon button">
            <i class="clock icon"></i>
            <%= " WANT (#{@game.want_users.count})" %>
          </div>
        <% end %>
      <% end %>

      <% if @game.is_playing_by?(current_user) %>
        <%= link_to game_lists_path(@game), method: :delete do %>
          <div class="ui red icon button">
            <i class="gamepad icon"></i>
            <%= " PLAYING (#{@game.playing_users.count})" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to playing_game_lists_path(@game), method: :post do %>
          <div class="ui icon button">
            <i class="gamepad icon"></i>
            <%= " PLAYING (#{@game.playing_users.count})" %>
          </div>
        <% end %>
      <% end %>

      <% if @game.was_played_by?(current_user) %>
        <%= link_to game_lists_path(@game), method: :delete do %>
          <div class="ui red icon button">
            <i class="check circle icon"></i>
            <%= " PLAYED (#{@game.played_users.count})" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to played_game_lists_path(@game), method: :post do %>
          <div class="ui icon button">
            <i class="check circle icon"></i>
            <%= " PLAYED (#{@game.played_users.count})" %>
          </div>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to new_user_session_path do %>
        <div class="ui icon button">
          <i class="clock icon"></i>
          <%= " WANT (#{@game.want_users.count})" %>
        </div>
      <% end %>
      <%= link_to new_user_session_path do %>
        <div class="ui icon button">
          <i class="gamepad icon"></i>
          <%= " PLAYING (#{@game.playing_users.count})" %>
        </div>
      <% end %>
      <%= link_to new_user_session_path do %>
        <div class="ui icon button">
          <i class="check circle icon"></i>
          <%= " PLAYED (#{@game.played_users.count})" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <p><%= @game.description %></p>

  <% if @game.steam.present? %>
    <%= link_to(@game.steam, target: :_blank, rel: "noopener noreferrer nofollow", class: 'ui icon button') do %>
      <i class="steam icon"></i>
      Steam
    <% end %>
  <% end %>

  <h2 class='ui sub header'>
    Platform
  </h2>
  <%= link_to @game.platform.name, platform_path(@game.platform) %>

  <% if @game.metascore.present? %>
    <h2 class='ui sub header'>
      Metascore
    </h2>
    <span><%= @game.metascore %></span>
  <% end %>
  
  <% if @game.developers.present? %>
    <h2 class='ui sub header'>
      Developers
    </h2>
    <span><%= @game.developers.pluck(:name).join(', ') %></span>
  <% end %>

  <% if @game.publishers.present? %>
    <h2 class='ui sub header'>
      Publishers
    </h2>
    <span><%= @game.publishers.pluck(:name).join(', ') %></span>
  <% end %>

  <% if @game.genres.present? %>
    <h2 class='ui sub header'>
      Genre
    </h2>
    <% @game.genres.each_with_index do |genre, i| %>
      <% if i != 0 %>
        <span>, </span>
      <% end %>
      <%= link_to genre.name, genre_path(genre) %>
    <% end %>
  <% end %>

  <% if @game.tags.present? %>
    <h2 class='ui sub header'>
      Tags
    </h2>
    <% @tags.each do |tag| %>
      <span class="ui tag label"><%= "#{tag.name}(#{tag.taggings.where(game_id: @game).count})" %></span>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <div class="ui segment">
      <h3 class='ui header'>
        Your Tags
      </h3>
      <% current_user.taggings.where(game_id: @game).each do |tagging| %>
        <%= link_to tagging.tag.name, game_tagging_path(@game, tagging), method: :delete, class: 'ui tag label' %>
      <% end %>

      <%= form_with model: @your_tag, url: game_taggings_path(@game), local: true do |f| %>
        <h2 class='ui sub header'>
          <%= f.label :tag, 'Add Your Tag' %>
        </h2>
        <div class="ui left icon input">
          <i class="tags icon"></i>
          <%= f.text_field :tag, placeholder: 'Enter Tag' %>
        </div>
        <%= f.submit 'Add', class: "ui button" %>            
      <% end %>
    </div>
  <% end %>
</div>