<!DOCTYPE html>
<html>
  <head>
    <title>MGDB.JP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <%= render 'shared/header' %>
      <div class='ui container'>
        <%= breadcrumbs separator: "#{content_tag(:i, '', :class=>'right angle icon divider')}", class: "ui breadcrumb" %>
      </div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
